@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Chivo', sans-serif;
}

.App {
  min-height: 100vh;
}